{% extends "lecture/base/lecture_admin.html" %}
{% load static %}

{% block title %}{{ lecture_data.title }}{% endblock %}

{% block extra-style %}
{% endblock %}

{% block extra-script %}
<script>
    // Charts
    var options = {
        series: [{
            name: '2019-1',
            data: [31, 40, 28, 51, 42, 109, 100]
        }, {
            name: '2020-1',
            data: [11, 32, 45, 32, 34, 52, 41]
        }],
        chart: {
            height: 250,
            width: '100%',
            type: 'area'
        },
        dataLabels: {
            enabled: false
        },
        stroke: {
            curve: 'smooth'
        },
        xaxis: {
            type: 'datetime',
            categories: ["2018-09-19T00:00:00.000Z", "2018-09-19T01:30:00.000Z", "2018-09-19T02:30:00.000Z", "2018-09-19T03:30:00.000Z", "2018-09-19T04:30:00.000Z", "2018-09-19T05:30:00.000Z", "2018-09-19T06:30:00.000Z"]
        },
        tooltip: {
            x: {
                format: 'dd/MM/yy HH:mm'
            },
        },
    };
    
    var chart = new ApexCharts(document.querySelector("#line-area-chart"), options);
    chart.render();
    
    var options = {
        series: [{
            data: {{ ppt_time }}
        }],
        chart: {
            type: 'line',
            height: 250,
            width: '100%'
        },
        stroke: {
            width: 3,
            curve: 'smooth',
        },
        dataLabels: {
            enabled: false
        },
        markers: {
            hover: {
                sizeOffset: 2
            }
        }
    };
    
    var ppt_chart = new ApexCharts(document.querySelector("#ppt-waiting-chart"), options);
    ppt_chart.render();
    
    var options = {
        series: [44, 55, 41, 17, 15],
        chart: {
            type: 'donut',
        },
        responsive: [{
            breakpoint: 480,
            options: {
                chart: {
                    width: 200
                },
                legend: {
                    position: 'bottom'
                }
            }
        }]
    };
    
    var chart = new ApexCharts(document.querySelector("#q1Chart"), options);
    chart.render();
    var chart = new ApexCharts(document.querySelector("#q2Chart"), options);
    chart.render();
    
    function clonePPT() {
        let handle = window.open("/lecture/pdf/?file=/static/pdfs/{{ lecture_data.pdf_path }}", "", "width=370, height=360, resizable=no, scrollbars=no, status=no;");
    }
    
    let global_socket;
    function global_socket_init() {
        global_socket = new WebSocket('ws://' + window.location.host + '/ws/cloredis/{{ wsid }}/');
    
        global_socket.onmessage = (message) => {
            let message_data = JSON.parse(message.data);
            switch (message_data.action) {
                case 'sync-ppt-page':
                    break;
                case 'live-qna-message':
                    liveQnAMessage(message_data);
                    break;
                case 'add-like-count':
                    break;
                case 'quiz-complete-signal':
                    setTimeout(() => {updateQuizInfo(message_data)}, 1000);
                    break;
                default:
                    break;
            }
        };
    
        global_socket.onclose = (e) => {
            setTimeout(() => {
                global_socket_init();
            }, 1000);
        };
    
        global_socket.onerror = (err) => {
            global_socket.close();
        }
    }
    global_socket_init();
</script>
{% endblock %}
