{% extends "lecture/base/lecture_admin.html" %}
{% load static %}

{% block extra-style %}
{% endblock %}

{% block title %}{{ lecture_data.title }}{% endblock %}

{% block extra-script %}
<script src="{% static 'js/ace/ace.js' %}" type="text/javascript" charset="utf-8"></script>
<script>
// Charts
var options = {
    series: [{
        name: '2019-1',
        data: [31, 40, 28, 51, 42, 109, 100]
    }, {
        name: '2020-1',
        data: [11, 32, 45, 32, 34, 52, 41]
    }],
    chart: {
        height: 250,
        width: '100%',
        type: 'area'
    },
    dataLabels: {
        enabled: false
    },
    stroke: {
        curve: 'smooth'
    },
    xaxis: {
        type: 'datetime',
        categories: ["2018-09-19T00:00:00.000Z", "2018-09-19T01:30:00.000Z", "2018-09-19T02:30:00.000Z", "2018-09-19T03:30:00.000Z", "2018-09-19T04:30:00.000Z", "2018-09-19T05:30:00.000Z", "2018-09-19T06:30:00.000Z"]
    },
    tooltip: {
        x: {
            format: 'dd/MM/yy HH:mm'
        },
    },
};

var chart = new ApexCharts(document.querySelector("#line-area-chart"), options);
chart.render();


function createZeroArray(size) {
    return Array(size).fill(0);
}

var options = {
    series: [{
        data: {{ ppt_time|safe }}
    }],
    chart: {
        type: 'line',
        height: 250,
        width: '100%'
    },
    stroke: {
        width: 3,
        curve: 'smooth',
    },
    dataLabels: {
        enabled: false
    },
    markers: {
        hover: {
            sizeOffset: 2
        }
    }
};

var ppt_chart = new ApexCharts(document.querySelector("#ppt-waiting-chart"), options);
ppt_chart.render();


var options = {
    series: [44, 55, 41, 17, 15],
    chart: {
        type: 'donut',
    },
    responsive: [{
        breakpoint: 480,
        options: {
            chart: {
                width: 200
            },
            legend: {
                position: 'bottom'
            }
        }
    }]
};

var chart = new ApexCharts(document.querySelector("#q1Chart"), options);
chart.render();
var chart = new ApexCharts(document.querySelector("#q2Chart"), options);
chart.render();

let global_socket;
function global_socket_init() {
    global_socket = new WebSocket('ws://' + window.location.host + '/ws/cloredis/{{ wsid }}/');

    global_socket.onmessage = (message) => {
        let message_data = JSON.parse(message.data);
        switch (message_data.action) {
            case 'live-qna-message':
                liveQnAMessage(message_data);
                break;
            case 'add-like-count':
                updateLikeCount(message_data);
                break;
            case 'quiz-complete-signal':
                setTimeout(() => {updateQuizInfo(message_data)}, 1000);
                break;                
            default:
                break;
        }
    };

    global_socket.onclose = (e) => {
        setTimeout(() => {
            global_socket_init();
        }, 1000);
    };

    global_socket.onerror = (err) => {
        global_socket.close();
    }
}
global_socket_init();

let editorDict = {};
function editorInit() {
    let editors = $('[class="ace-editor"]')
    for (let i = 0; i < editors.length; i++) {
        let editor = ace.edit(editors[i].id);
        editor.setTheme("ace/theme/github");
        editor.session.setMode("ace/mode/c_cpp");
        editor.setOptions({
            maxLines: Infinity
        });
        editor.setReadOnly(true);

        editorDict[editors[i].id] = editor;
    }
}
editorInit();

let compileSocket;
let runCodeDom;
function compile_socket_connect() {
    compileSocket = new WebSocket('ws://'+window.location.host+':3000/cp/' + unique_id);

    compileSocket.onmessage = (message) => {
        let message_data = JSON.parse(message.data);
        $("#" + runCodeDom + "-console").text("---------EXECUTE OUTPUT---------\r\n" + message_data.exec_stdout + "\r\n\r\n---------COMPILE OUTPUT---------\r\n" + message_data.compile_stderr);
    };

    compileSocket.onclose = (e) => {
        setTimeout(() => {
            compile_socket_connect();
        }, 1000);
    };

    compileSocket.onerror = (err) => {
        compileSocket.close();
    };
}
compile_socket_connect();

function requestCompile(dom_id) {
    let src = editorDict[dom_id].getValue();
    compileSocket.send(JSON.stringify({
        "type": 0,
        "src": src
    }));
    runCodeDom = dom_id;
}

function savePPTTime() {
    let times = ppt_chart.w.globals.series.slice()[0];
    let history_str = "";
    for (let i = 0; i < times.length; i++) {
        history_str += parseInt(times[i]) + ";";
    }

    axios({
            method: 'post',
            url: `/api/ppthistory/${lecture_id}`,
            data: {
                'history': history_str.slice(0, -1),
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            headers: {
                "content-type": "application/json"
            }
            }).then(function (response) {
                console.log(response)
            }).catch(function (error) {
                console.log(error)
            });
}
setInterval(savePPTTime, 60000);

function fillBonusPointList(data) {
    $("#bonus-center").empty();
    data.forEach((d) => {
        let elems = $("<div>").append(
            $("<div>").append(
                $("<span>").text(d['id'])
            ),
            $("<div>").append(
                $("<span>").text(d['point'])
            ),
            $("<div>").append(
                $("<span>").text(d['date'])
            )
        )
        $("#bonus-center").append(elems);
    });
}

function getBonusPointList() {
    axios({
        method: 'get',
        url: `/api/bonus/{{class_id}}/${lecture_id}`,
        headers: {
            "content-type": "application/json"
        }
        }).then(function (response) {
            console.log(response)
            fillBonusPointList(response)
        }).catch(function (error) {
            console.log(error)
        });
}
</script>
{% endblock %}
