{% extends "lecture/base/lecture.html" %}

{% load static %}

{% block title %}{{ lecture_data.title }}{% endblock %}

{% block extra-style %}
<style>
    html, body {
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .flex-col {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow: auto;
    }

    .flex-row {
        display: flex;
        flex-direction: row;
        height: 100%;
    }

    .gutter.gutter-horizontal, .gutter.gutter-vertical {
        background-color: #fff;
    }

    .gutter.gutter-horizontal {
        cursor: ew-resize;
        border-right: 1px solid #eaeaea; 
        border-left: 1px solid #eaeaea;
        background: url("{% static 'assets/images/img-grippie-vertical.png' %}") no-repeat 0.625rem 50%;
        background-size: 0.875rem 2.25rem;
        background-color: #fff;
    }

    .gutter.gutter-vertical {
        cursor: ns-resize;
        border-top: 1px solid #eaeaea; 
        border-bottom: 1px solid #eaeaea;
        background-image: url("{% static 'assets/images/img-grippie-horizon.png' %}");
        background-size: 2.25rem 0.875rem;
        background-position-y: bottom;
        background-repeat: no-repeat;
        background-position: 50%;
    }

    #left-side-panel, #mid-side-panel, #right-side-panel, #ppt-viewer-wrap, #live-qna-chat-wrap, #user-notepad-wrap, #user-notepad-preview-wrap {
        overflow: auto;
        background-color: #fff;
    }

    .lesson-content {
        height: calc(100vh - 75px);
    }

    .content-header {
        border-bottom: 1px solid #dadada;
        padding: 15px;
        font-family: 'Noto Sans KR', sans-serif;
        /* color: #fff; */
        /* background-color: #3A464B; */
        background-color: #fbfbfb;
        font-size: 13px;
    }

    /* Scrollbar */
    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track
    ::-webkit-scrollbar-track {
    background: #2a363b;
    }
    */

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #b9ceeb;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #87a8d0;
    }

    #live-qna-chat-content {
        position: relative;
        height: calc(100% - 90px);
    }

    .lesson-note-content {
        /* color: #fff; */
        margin: 10px 15px 10px 15px;
    }

    .ql-container.ql-snow {
        border: none;
    }

    #live-qna-chat-box {
        height: auto;
        min-height: 100%;
        max-height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
    }
</style>
{% endblock %}

{% block content %}
<div class="flex-row">
    <div id="left-side-panel">
        <div class="flex-col">
            <div id="ppt-viewer-wrap">
                <div style="width: 100%; height: 100%; overflow-y: hidden;" id="ppt-viewer-wrap">
                    <div id="ppt-viewer-content" style="height: 100%; width: 100%;">
                        <iframe id="ppt-frame" style="border: none; height: 100%; width: 100%;" allowfullscreen webkitallowfullscreen src="/lecture/pdf/?file=/static/pdfs/{{ lecture_data.pdf_path }}"></iframe>
                    </div>
                </div>
            </div>
            <div id="live-qna-chat-wrap">
                <div class="content-header">
                    추가 자료
                </div>
                <div class="lesson-note-content">
                    {{ lecture_data.lecture_note|safe }}
                </div>
            </div>
        </div>
    </div>
    <div id="mid-side-panel">
        <div class="flex-col">
            <div id="user-notepad-wrap" style="background-color: #fff; overflow: hidden;">
                <div id="user-notepad-content" style="height: calc(100% - 42px);">
                    <p></p>
                </div>
            </div>
            <div id="user-notepad-preview-wrap">
                <div class="content-header">
                    자료실
                </div>
                <div id="user-notepad-preview-content">
                </div>
            </div>
        </div>
    </div>
    <div id="right-side-panel">
        <div class="content-header">
            실시간 질문 게시판
        </div>
        <div id="live-qna-chat-content">
            <!-- TEST -->
            {% for message in messages %}
                <div class="card" style="">
                    <div class="card-body">
                        <div class="d-flex justify-content-start align-items-center mb-1">
                            <div class="avatar mr-1">
                                <img src="../../../app-assets/images/profile/user-uploads/user-01.jpg" alt="avtar img holder" height="45" width="45">
                            </div>
                            <div class="user-page-info">
                                <p class="mb-0">Leeanna Alvord</p>
                                <span class="font-small-2">12 Dec 2018 at 1:16 AM</span>
                            </div>
                            <div class="ml-auto user-like text-danger"><i class="fa fa-heart"></i></div>
                        </div>
                        <p>{{ message.body }}</p>
                        <img class="img-fluid card-img-top rounded-sm mb-2" src="../../../app-assets/images/profile/post-media/2.jpg" alt="avtar img holder">
                        <div class="d-flex justify-content-start align-items-center mb-1">
                            <div class="d-flex align-items-center">
                                <i class="feather icon-heart font-medium-2 mr-50"></i>
                                <span>{{ message.likeCount }}</span>
                            </div>
                            <div class="ml-2">
                                <ul class="list-unstyled users-list m-0  d-flex align-items-center">
                                    <li data-toggle="tooltip" data-popup="tooltip-custom" data-placement="bottom" data-original-title="Trina Lynes" class="avatar pull-up">
                                        <img class="media-object rounded-circle" src="../../../app-assets/images/portrait/small/avatar-s-1.jpg" alt="Avatar" height="30" width="30">
                                    </li>
                                    <li class="d-inline-block pl-50">
                                        <span>+140 more</span>
                                    </li>
                                </ul>
                            </div>
                            <p class="ml-auto d-flex align-items-center">
                                <i class="feather icon-message-square font-medium-2 mr-50"></i>77
                            </p>
                        </div>
                        <div class="d-flex justify-content-start align-items-center mb-1">
                            <div class="avatar mr-50">
                                <img src="../../../app-assets/images/portrait/small/avatar-s-6.jpg" alt="Avatar" height="30" width="30">
                            </div>
                            <div class="user-page-info">
                                <h6 class="mb-0">Kitty Allanson</h6>
                                <span class="font-small-2">orthoplumbate morningtide naphthaline exarteritis</span>
                            </div>
                            <div class="ml-auto cursor-pointer">
                                <i class="feather icon-heart mr-50"></i>
                                <i class="feather icon-message-square"></i>
                            </div>
                        </div>
                        <fieldset class="form-label-group mb-50">
                            <textarea class="form-control" id="label-textarea" rows="3" placeholder="Add Comment"></textarea>
                            <label for="label-textarea">Add Comment</label>
                        </fieldset>
                        <button type="button" class="btn btn-sm btn-primary">Post Comment</button>
                    </div>
                </div>
            {% endfor %}
            <!-- END TEST -->
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div id="modal-content-header" class="modal-header">

            </div>
            <form id="quiz_form" action="/api/quiz/1/1" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="nav-vertical">
                        <ul id="modal-nav-wrap" class="nav nav-tabs nav-left flex-column" role="tablist">

                        </ul>
                        <div id="modal-nav-content-wrap" class="tab-content">

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button onclick="quiz_form_submit()" class="btn btn-primary" data-dismiss="modal">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}{% endblock %}

{% block extra-script %}
<script type="text/javascript">
let qna_messages = {{ messages|safe }};
const lecture_id = {{ room_name_json }};
const user_name = '{{ request.user.username }}';

// WebSocket
let current_ppt_page = 1;
let ppt_sync_flag = true;
let is_exist_new_qna = true;

function remoteSyncPPTPage(data) {
    if (!ppt_sync_flag) {
        return;
    }

    ppt_sync_flag = false;
    let page = data['data']['page'];
    let numPages = document.getElementById("ppt-frame").contentWindow.PDFViewerApplication.pagesCount;
    if((page > numPages) || (page < 1)){
        return;
    }
    document.getElementById("ppt-frame").contentWindow.PDFViewerApplication.page = page;
    ppt_sync_flag = true;
}

function liveQnAMessage(request) {
    let qna = request['data']['qna'];

    if (qna === '') {
        return
    }

    let qna_body = qna['body'];
    let qna_like_count = request['data']['likeCount'];
    let qna_message_id = request['data']['messageId'];
    let qna_username = request['data']['userID'];
    qna_messages.push({'body': qna_body, 'likeCount': qna_like_count, 'messageId': qna_message_id, 'userID': qna_username});
    is_exist_new_qna = true;

    let live_qna_chat_box = $('#live-qna-chat-content');
    live_qna_chat_box.append(questionMsgHtmlGenerator(qna_body, qna_like_count));
    live_qna_chat_box.scrollTop(live_qna_chat_box[0].scrollHeight);
}

function redrawSortingQnAChat() {
    if (!is_exist_new_qna) {
        return;
    } else {
        is_exist_new_qna = false;
    }

    $('#live-qna-chat-box').empty();
    qna_messages.sort((lhs, rhs) => {
        return rhs['likeCount'] - lhs['likeCount'];
    });
    qna_messages.forEach((message) => {
        $('#live-qna-chat-box').append(questionMsgHtmlGenerator(message['body'], message['likeCount']));
    });
}
setInterval(redrawSortingQnAChat, 5000);

function updateLikeCount(data) {
    let message_id = data['data']['messageId'];
    for (let i = 0; i < qna_messages.length; i++) {
        if (qna_messages[i]['messageId'] === message_id) {
            qna_messages[i]['likeCount'] += 1;
            break;
        }
    }
}

function showQuizModal(data) {
    axios.get(`/api/quiz/${data.data.classID}/${data.data.quizBoxId}`)
        .then(res => {
            setModalQuizHTML(res.data[0]);
            $("#exampleModalCenter").modal("show");
        })
        .catch(err => {
            console.log(err);
        });
}

let chatSocket;
function ws_connect() {
    chatSocket = new WebSocket('ws://' + window.location.host + '/ws/cloredis/{{ wsid }}/');
    chatSocket.onmessage = (message) => {
        let message_data = JSON.parse(message.data);
        switch (message_data.action) {
            case 'sync-ppt-page':
                remoteSyncPPTPage(message_data);
                break;
            case 'live-qna-chat':
                liveQnAMessage(message_data);
                break;
            case 'add-like-count':
                updateLikeCount(message_data);
                break;
            case 'show-quiz-modal':
                showQuizModal(message_data);
                break;
            default:
                break;
        }
    };

    chatSocket.onclose = (e) => {
        setTimeout(() => {
            ws_connect();
        }, 1000);
    };

    chatSocket.onerror = (err) => {
        chatSocket.close();
    }
}
ws_connect();

function questionMsgHtmlGenerator(msg, like_count) {
    return 
        $("<div>").addClass("card").append(
            $("<div>").addClass("card-body").append(
                $("<div>").addClass("d-flex justify-content-start align-items-center mb-1").append(
                    $("<div>").addClass("avatar mr-1").append(
                        $("<img>").attr("src", "{% static 'app-assets/images/profile/user-uploads/user-01.jpg' %}")
                                  .attr("alt", "avatar img holder")
                                  .attr("height", "45")
                                  .attr("width", "45")
                    ),
                    $("<div>").addClass("user-page-info").append(
                        $("<p>").addClass("mb-0").text(user_name),
                        $("<span>").addClass("font-small-2").text("Date 9999-99-99")
                    )
                ),
                $("<p>").text(msg),
                $("<div>").addClass("d-flex justify-content-start align-items-center mb-1").append(
                    $("<p>").addClass("ml-auto d-flex align-items-center").append(
                        $("<i>").addClass("feather icon-message-square font-medium-2 mr-50")
                    ).append(like_count)
                )
            )
        ); 
}

function sendQuestionMessagePacket(message) {
    chatSocket.send(JSON.stringify({
        'action': 'live-qna-chat',
        'data': {
            'qna': {
                'body': message,
            },
            'lecture': lecture_id,
        }
    }));
}

function addLikeCount(id) {
    chatSocket.send(JSON.stringify({
        'action': 'add-like-count',
        'data': {
            'messageId': id, // QnAMessage.pk
            'lecture': lecture_id,
        }
    }));
}

function quiz_form_submit() {
    var d = new FormData(document.querySelector('#quiz_form'));
    axios.post('/api/quiz/1/1', d).then(res => {console.log(res);});

    chatSocket.send(JSON.stringify({
        "action": "quiz-complete-signal",
        "data": {
            "page": "1"
        }
    }));
}
</script>
{% endblock %}
