{% extends 'lecture/base/lecture_admin.html' %}
{% load static %}

{% block create-pannel %}
<div class="row">
    <div class="col-sm-5">
        <div class="card overflow-hidden">
            <div class="card-header">
                <h4 class="card-title">PPT 관리</h4>
                <i data-toggle="tooltip" data-placement="left" title="새 창으로 PPT viewer 띄워 다양한 디스플레이에 표시할 수 있습니다." onclick="javascript:clonePPT();" class="fa fa-clone"></i>
            </div>
            <div class="card-content">
                <div class="card-body text-center">
                    <div id="menu-button-wrap">
                        <button onclick="addNewQuiz()">Add new quiz</button>
                    </div>
                    <div>
                        <form enctype='application/json' id="quiz_form" method="POST">
                            <input type="text" name="title" />
                            <div id="quiz-form-wrap">
                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra-script %}
<script src="{% static 'assets/js/jquery.serialize-object.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js" integrity="sha256-bd8XIKzrtyJ1O5Sh3Xp3GiuMIzWC42ZekvrMMD4GxRg=" crossorigin="anonymous"></script>
<script>
    /// Quiz form
    let quiz_seq_num = 0;
    let answer_seq_arr = {};
    function submitQuizForm() {
        let json_data = $("form#quiz_form").serializeObject();
        for (let i = 0; i < json_data['quizs'].length; i++) {
            for (let j = 0; j < json_data['quizs'][i]['answers'].length; j++) {
                if (!json_data['quizs'][i]['answers'][j].hasOwnProperty("is_correct")) {
                    json_data['quizs'][i]['answers'][j]['is_correct'] = false;
                }
            }
        }
        axios.post('/lecture/create/quiz', JSON.stringify(json_data), {
            headers: {
                'Content-Type': 'application/json',
            }
        }).then(res => {console.log(res);}).catch(err => {console.log(err)}).then(() => {});
    }

    function addNewQuiz() {
        $("#quiz-form-wrap").append(
            $("<div>").attr("id", "quiz-wrap-" + quiz_seq_num).append(
                $("<div>").attr("id", "quiz-content").append(
                    $("<input>").attr("type", "text").attr("name", `quizs[${quiz_seq_num}][content]`) // quiz content
                ),
                $("<div>").attr("id", "quiz-answer-wrap"),
                $("<button>").attr("onclick", `addNewAnswer(${quiz_seq_num})`).attr("type", "button").text("Add new answer")
            )
        );
        answer_seq_arr[quiz_seq_num++] = 0;
    }

    function addNewAnswer(q) {
        $(`#quiz-wrap-${q}`).append(
            $("<input>").attr("type", "text").attr("name", `quizs[${q}][answers][${answer_seq_arr[q]}][content]`),
            $("<input>").attr("type", "checkbox").attr("name", `quizs[${q}][answers][${answer_seq_arr[q]}][is_correct]`),
        );
        answer_seq_arr[q]++;
    }
</script>
{% endblock %}
